USE [ENTERPRISE]
GO
/****** Object:  Table [dbo].[BRAND]    Script Date: 18/11/2024 19:29:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BRAND](
	[CodeBrand] [tinyint] IDENTITY(1,1) NOT NULL,
	[NameBrand] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CodeBrand] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENT]    Script Date: 18/11/2024 19:29:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENT](
	[DNI] [char](12) NOT NULL,
	[NameClient] [varchar](30) NOT NULL,
	[Surname1] [varchar](20) NOT NULL,
	[Surname2] [varchar](20) NULL,
	[AddressCli] [varchar](60) NOT NULL,
	[Card_no] [char](16) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COURSE]    Script Date: 18/11/2024 19:29:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSE](
	[CodeCourse] [tinyint] IDENTITY(1,1) NOT NULL,
	[DescriptionCourse] [varchar](300) NOT NULL,
	[NumHours] [tinyint] NOT NULL,
	[DateCourse] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CodeCourse] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COURSE_EMPLOYEE]    Script Date: 18/11/2024 19:29:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSE_EMPLOYEE](
	[DNI] [char](12) NOT NULL,
	[CodeCourse] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI] ASC,
	[CodeCourse] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 18/11/2024 19:29:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[DNI] [char](12) NOT NULL,
	[NameEmp] [varchar](30) NOT NULL,
	[Surname1] [varchar](30) NOT NULL,
	[Surname2] [varchar](30) NULL,
	[AddressEmp] [varchar](60) NOT NULL,
	[Account] [char](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OFFICE]    Script Date: 18/11/2024 19:29:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OFFICE](
	[CodeOff] [tinyint] IDENTITY(1,1) NOT NULL,
	[Address0ff] [varchar](60) NOT NULL,
	[PhoneOff] [char](9) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CodeOff] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RENTING]    Script Date: 18/11/2024 19:29:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RENTING](
	[CodeR] [tinyint] IDENTITY(1,1) NOT NULL,
	[DateR] [date] NOT NULL,
	[DaysNo] [tinyint] NOT NULL,
	[KmCurrent] [int] NOT NULL,
	[KmReturn] [int] NOT NULL,
	[DNIcli] [char](12) NOT NULL,
	[CodeV] [tinyint] NOT NULL,
	[DNIemp] [char](12) NOT NULL,
	[CodeOff1] [tinyint] NOT NULL,
	[CodeOff2] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[CodeR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VEHICLE]    Script Date: 18/11/2024 19:29:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VEHICLE](
	[CodeV] [tinyint] IDENTITY(1,1) NOT NULL,
	[Model] [varchar](30) NOT NULL,
	[TypeV] [varchar](25) NOT NULL,
	[Colour] [varchar](15) NOT NULL,
	[CodeBrand] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CodeV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[COURSE_EMPLOYEE]  WITH CHECK ADD FOREIGN KEY([CodeCourse])
REFERENCES [dbo].[COURSE] ([CodeCourse])
GO
ALTER TABLE [dbo].[COURSE_EMPLOYEE]  WITH CHECK ADD FOREIGN KEY([DNI])
REFERENCES [dbo].[EMPLOYEE] ([DNI])
GO
ALTER TABLE [dbo].[RENTING]  WITH CHECK ADD FOREIGN KEY([CodeOff1])
REFERENCES [dbo].[OFFICE] ([CodeOff])
GO
ALTER TABLE [dbo].[RENTING]  WITH CHECK ADD FOREIGN KEY([CodeOff2])
REFERENCES [dbo].[OFFICE] ([CodeOff])
GO
ALTER TABLE [dbo].[RENTING]  WITH CHECK ADD FOREIGN KEY([CodeV])
REFERENCES [dbo].[VEHICLE] ([CodeV])
GO
ALTER TABLE [dbo].[RENTING]  WITH CHECK ADD FOREIGN KEY([DNIcli])
REFERENCES [dbo].[CLIENT] ([DNI])
GO
ALTER TABLE [dbo].[RENTING]  WITH CHECK ADD FOREIGN KEY([DNIemp])
REFERENCES [dbo].[EMPLOYEE] ([DNI])
GO
ALTER TABLE [dbo].[VEHICLE]  WITH CHECK ADD FOREIGN KEY([CodeBrand])
REFERENCES [dbo].[BRAND] ([CodeBrand])
GO
ALTER TABLE [dbo].[CLIENT]  WITH CHECK ADD CHECK  (([Card_no] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[CLIENT]  WITH CHECK ADD CHECK  (([DNI] like '[0-9][0-9][0-9].[0-9][0-9][0-9].[0-9][0-9][0-9][A-Z]'))
GO
ALTER TABLE [dbo].[COURSE_EMPLOYEE]  WITH CHECK ADD CHECK  (([DNI] like '[0-9][0-9][0-9].[0-9][0-9][0-9].[0-9][0-9][0-9][A-Z]'))
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD CHECK  (([Account] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD CHECK  (([DNI] like '[0-9][0-9][0-9].[0-9][0-9][0-9].[0-9][0-9][0-9][A-Z]'))
GO
ALTER TABLE [dbo].[OFFICE]  WITH CHECK ADD CHECK  (([PhoneOff] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[RENTING]  WITH CHECK ADD CHECK  (([DNIcli] like '[0-9][0-9][0-9].[0-9][0-9][0-9].[0-9][0-9][0-9][A-Z]'))
GO
ALTER TABLE [dbo].[RENTING]  WITH CHECK ADD CHECK  (([DNIemp] like '[0-9][0-9][0-9].[0-9][0-9][0-9].[0-9][0-9][0-9][A-Z]'))
GO
